@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 79 37 112;
    --color-secondary: 254 149 2;
  }

  html,
  body {
    @apply w-full h-full text-neutral-900;
  }
  .body-locked {
    @apply overflow-hidden fixed;
  }

  *:focus {
    @apply outline outline-2 outline-secondary outline-offset-2;
  }
  *:focus:not(:focus-visible) {
    @apply outline-none;
  }
  *:focus-visible {
    @apply outline outline-2 outline-secondary outline-offset-2;
  }

  h1,
  .variant-h1 {
    @apply text-6xl font-black;
  }
  h2,
  .variant-h2 {
    @apply text-5xl font-bold;
  }
  h3,
  .variant-h3 {
    @apply text-4xl font-bold;
  }
  h4,
  .variant-h4 {
    @apply text-3xl font-semibold;
  }
  h5,
  .variant-h5 {
    @apply text-2xl font-semibold;
  }
  h6,
  .variant-h6 {
    @apply text-xl font-semibold;
  }
}

@layer components {
  .link {
    @apply text-primary underline hover:text-primary/80 active:text-primary/60 focus:rounded-sm;
  }
}
